html body {
    box-sizing: border-box;
    margin: 0;
    background-color:rgb(228, 56, 13);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: #fff;
    font-size: 2rem;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 215, 215);
    width: 450px;
    height: 550px;
    padding: 1rem;
    border-radius: .2rem;
}

.date {
    color:rgb(204, 78, 78);
    font-size: 1.5rem;
}

.input{
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.input__text {
    width: 75%;
    border: 1px solid rgb(146, 136, 136);
    border-radius: .2rem;
    line-height: 100%;
    font-size: 1.5rem;
    padding: 1rem;
}

.input__button {
    background-color:rgb(129, 122, 122);
    color: rgb(255, 255, 255);
    width: 15%;
    font-size: 2rem;
    border-radius: .2rem;
    border: none
}

.input__button:hover {
    background-color: rgb(38, 0, 255);
}

.tasks {
    width: 100%;
    height: 25rem;
}

.tasks__list--completed {
    display: none;
}

.buttons {
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 9rem;
}

.btn {
    margin: .3rem;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
}