html body {
    box-sizing: border-box;
    margin: 0;
    background-color:rgb(23, 72, 177);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: #fff;
    font-size: 2rem;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(219, 215, 215);
    width: 450px;
    height: 550px;
    padding: 1rem;
    border-radius: .2rem;
}

.date {
    color:rgb(204, 78, 78);
    font-size: 1.5rem;
}

.input{
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.input__text {
    width: 75%;
    border: 1px solid rgb(146, 136, 136);
    border-radius: .2rem;
    line-height: 100%;
    font-size: 1.5rem;
    padding: 1rem;
}

.input__button {
    background-color:rgb(129, 122, 122);
    color: rgb(255, 255, 255);
    width: 15%;
    font-size: 2rem;
    border-radius: .2rem;
    border: none
}

.input__button:hover {
    background-color: rgb(38, 0, 255);
}

.tasks {
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

.tasks__remain {
    display: none;
}

.tasks__remain--show {
    display: block;
}

.tasks__list {
    padding: 0;
}

.tasks__list:empty {
    display: none;
}

.tasks__list:empty + .warning {
    display: flex;
    flex-direction: column;
}

.li-items {
    position: relative;
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
    font-size: 2rem;
    border: 1px solid transparent;
    background-color: rgb(161, 208, 216);
    border-radius: .2rem;
    padding: .5rem;
    margin-bottom: .5rem;
    overflow: hidden;
}

.slide-in {
    animation: slide-in 0.5s ease;
}

@keyframes slide-in {
    0% {transform: translatex(100%)}
    100% { transform: translatex(0%); }
}

.li-items:hover.li-items::after {
    padding: .5rem;
    margin-bottom: .5rem;
    position: absolute;
    content: "\f1f8";
    font-family: FontAwesome;
    right: 0;
    top: 0;
    background-color: rgb(255, 0, 0);
    border-radius: 0 .2rem .2rem 0;
    height: 100%;
    width: 3rem;
    cursor: pointer;
    text-align: center;
    line-height: 2rem;
    color: #fff;
    animation-name: fade-in;
    animation-duration: .5s;
}

@keyframes fade-in {
    0% {
        width: 0;
        content:'';
    }
    100% {
        width: 3rem;
        content: "\f1f8";
    }
}

.deleteButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 3.1rem;
    cursor: pointer;
    z-index: 1;
}


.label {
    width: 100%;
}

.checkbox {
    width: 25px;
    height: 25px;
}

.warning {
    display: none;
    position: absolute;
    text-align: center;
    top: 20rem;
    left: 0;
    width: 100%;
}

.fa.fa-beer {
    font-size: 4rem;
    color:rgb(170, 168, 15);
}

.warning__span {
    font-size: 1.4rem;
    font-weight: 700;
}

.buttons {
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 9rem;
}

.btn {
    margin: .3rem;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
}